header .active {
  position: relative;
  &::after {
    content: "";
    background-color: rgb(231, 198, 126);
    top: 110%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
  }
}
