.card-body-auth{
    background-image: url("../../../../assets/icons/bgcardauthor.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.card-auth{
    background: #4b4747;
}