

.card-body-auth{
    background-image: url("../../../../assets/icons/bgcardauthor.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.card-auth:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
}